$primary-colour: #48F2E3;
$comp-colour: #48F28E;
$secondary-colour: #242732;
$background: #1f2029;
$breakpoint-mobile: 767px;

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-mobile) {
        @content;
    }
}

body {
    background: $background;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    margin-bottom: 80px;
}

.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &#about{
        background-color: $secondary-colour;
    }
    @include mobile(){
        &#about{
            padding-top: 25px;
        }
        
    }
}

.intro-button {
    text-decoration: unset;
    border-radius: 25px;
    padding: 6px 25px;
    margin-top: 25px;
    display: inline-block;
    background-color: $primary-colour;
    color: #000;
    background-image: -webkit-linear-gradient(left,$primary-colour 0%,$comp-colour 50%,$primary-colour 100%);
    background-image: linear-gradient(to right,$primary-colour 0%,$comp-colour 50%,$primary-colour 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .4s ease;
    background-size: 200% 100%;

    &.inline {
        display: block;
        max-width: 150px !important;
        opacity: 0;
        &.anim{
            opacity: 1;
        }
    }

    span {
        margin-left: 7px;
        transition: transform .4s ease;
    }

    &:hover {
        background-color:$secondary-colour;
        color: #000;
        background-position: 100% 0;

        span {
            transform: rotate(90deg);
        }
    }
}

h3.title {
    color: $primary-colour;
    position: relative;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 5px;
        background: $primary-colour;
        left: 0;
        bottom: 0;
    }
}

.primary-text {
    color: $primary-colour;
}

.about-text {
    @include desktop() {
        margin-right: 80px;
    }
}

.skill-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-bottom: 30px;
    @include mobile(){
        margin-top: 45px;
    }
    div {
        width: 120px;
        height: 120px;
        background-color: $background;
        padding: 15px;
        border-radius: 5px;
        opacity: 0;
        @include mobile(){
            width: 100px;
            height: 100px;
        }
        @media (max-width: 400px){
            width: 80px;
            height: 80px;
        }
        img {
            width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }
}

#portfolio {
    padding-top: 60px;
    @include mobile(){
        padding-top: 25px;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;

    .project {
        background: $secondary-colour;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        gap: 30px;
        @include desktop(){
            height: 450px !important;
        }
        >.row {
            height: 100%;
            @include mobile(){
                flex-direction: column-reverse;
            }
        }

        img {
            width: 100%;
        }

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 80px;
            gap: 15px;
            @include mobile(){
                padding: 25px !important;
            }
            h4 {
                margin: 0;
            }

            p {
                margin: 0;
                opacity: 0.6;
            }

            .disclamer {
                font-size: 13px;
            }

            .icon {
                color: $primary-colour;
                font-size: 21px;
            }
        }

        .img-holder {
            background-color: $primary-colour;
            background: linear-gradient(270deg, $primary-colour 0%, $comp-colour 80%);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                max-height: 400px;
                object-fit: contain;
                padding: 30px;
                @include mobile(){
                    height: 300px;
                }
            }
        }
    }
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
h1#intro-text {
    display: inline-flex;
    flex-direction: column;

    &:not(.show) {
        opacity: 0;
    }

    >span {
        display: inline-block;
        padding-right: 15px;

        @include desktop() {
            white-space: nowrap;
        }

        .letter {
            width: 0;
            overflow: hidden;

            &:not(.show) {
                display: none;
            }
        }

    }

}

.blink-cursor {
    position: relative;

    @-moz-document url-prefix() {
        &:after {
            content: '';
            width: 2px;
            height: 26px !important;
            background: #4537ca;
            position: relative !important;
            display: inline-block;
            top: 5px;
            @include desktop(){
                height: 40px !important;
                top: 8px !important;
            }
        }
    }

    &:after {
        content: '';
        width: 2px;
        height: 100%;
        background: $primary-colour;
        position: absolute;
        @include mobile(){
            height: 36px;
        }
    }

    &.blink {
        &:after {
            animation: blinker 0.7s infinite;
        }
    }
}
@keyframes blinker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@include mobile(){
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.svg-title{
    opacity: 0;
    position: relative;
    margin-bottom: 25px;
    path {
        transition: fill .4s ease;
    }
    &.active{
        opacity: 1;
    }
    &.fill{
        path{
            fill: $primary-colour;
        }
        &:before{
            width: 60px;
        }
    }
    @include mobile(){
        svg {
            width: 300px;
        }
    }
    /*&:before {
        content: '';
        position: absolute;
        width: 0;
        height: 5px;
        background: #48F2E3;
        left: 0;
        bottom: -11px;
        transition: width .4s ease;
    }*/
}