body {
  background: #1f2029;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  margin-bottom: 80px; }

.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .intro#about {
    background-color: #242732; }
  @media (max-width: 767px) {
    .intro#about {
      padding-top: 25px; } }

.intro-button {
  text-decoration: unset;
  border-radius: 25px;
  padding: 6px 25px;
  margin-top: 25px;
  display: inline-block;
  background-color: #48F2E3;
  color: #000;
  background-image: -webkit-linear-gradient(left, #48F2E3 0%, #48F28E 50%, #48F2E3 100%);
  background-image: linear-gradient(to right, #48F2E3 0%, #48F28E 50%, #48F2E3 100%);
  -webkit-transition: all .2s ease-in-out;
  transition: all .4s ease;
  background-size: 200% 100%; }
  .intro-button.web-link {
    margin: 0; }
  .intro-button.inline {
    display: block;
    max-width: 150px !important;
    opacity: 0; }
    .intro-button.inline.anim {
      opacity: 1; }
  .intro-button span {
    margin-left: 7px;
    transition: transform .4s ease; }
  .intro-button:hover {
    background-color: #242732;
    color: #000;
    background-position: 100% 0; }
    .intro-button:hover span {
      transform: rotate(90deg); }

h3.title {
  color: #48F2E3;
  position: relative;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  h3.title:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: #48F2E3;
    left: 0;
    bottom: 0; }

.primary-text {
  color: #48F2E3; }

@media (min-width: 767px) {
  .about-text {
    margin-right: 80px; } }

.skill-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-bottom: 30px; }
  @media (max-width: 767px) {
    .skill-images {
      margin-top: 45px; } }
  .skill-images div {
    width: 120px;
    height: 120px;
    background-color: #1f2029;
    padding: 15px;
    border-radius: 5px;
    opacity: 0; }
    @media (max-width: 767px) {
      .skill-images div {
        width: 100px;
        height: 100px; } }
    @media (max-width: 400px) {
      .skill-images div {
        width: 80px;
        height: 80px; } }
    .skill-images div img {
      width: 100%;
      object-fit: contain;
      height: 100%; }

#portfolio {
  padding-top: 60px; }
  @media (max-width: 767px) {
    #portfolio {
      padding-top: 25px; } }

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px; }
  .projects .project {
    background: #242732;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    gap: 30px; }
    @media (min-width: 767px) {
      .projects .project {
        height: 450px !important; } }
    .projects .project > .row {
      height: 100%; }
      @media (max-width: 767px) {
        .projects .project > .row {
          flex-direction: column-reverse; } }
    .projects .project img {
      width: 100%; }
    .projects .project .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 80px;
      gap: 15px;
      align-items: flex-start; }
      @media (max-width: 767px) {
        .projects .project .content {
          padding: 25px !important; } }
      .projects .project .content h4 {
        margin: 0; }
      .projects .project .content p {
        margin: 0;
        opacity: 0.6; }
      .projects .project .content .disclamer {
        font-size: 13px; }
      .projects .project .content .icon {
        color: #48F2E3;
        font-size: 21px; }
    .projects .project .img-holder {
      background-color: #48F2E3;
      background: linear-gradient(270deg, #48F2E3 0%, #48F28E 80%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .projects .project .img-holder img {
        max-height: 400px;
        object-fit: contain;
        padding: 30px; }
        @media (max-width: 767px) {
          .projects .project .img-holder img {
            height: 300px; } }

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%; }

h1#intro-text {
  display: inline-flex;
  flex-direction: column; }
  h1#intro-text:not(.show) {
    opacity: 0; }
  h1#intro-text > span {
    display: inline-block;
    padding-right: 15px; }
    @media (min-width: 767px) {
      h1#intro-text > span {
        white-space: nowrap; } }
    h1#intro-text > span .letter {
      width: 0;
      overflow: hidden; }
      h1#intro-text > span .letter:not(.show) {
        display: none; }

.blink-cursor {
  position: relative; }
@-moz-document url-prefix() {
  .blink-cursor:after {
    content: '';
    width: 2px;
    height: 26px !important;
    background: #4537ca;
    position: relative !important;
    display: inline-block;
    top: 5px; }
    @media (min-width: 767px) {
      .blink-cursor:after {
        height: 40px !important;
        top: 8px !important; } } }
  .blink-cursor:after {
    content: '';
    width: 2px;
    height: 100%;
    background: #48F2E3;
    position: absolute; }
    @media (max-width: 767px) {
      .blink-cursor:after {
        height: 36px; } }
  .blink-cursor.blink:after {
    animation: blinker 0.7s infinite; }

@keyframes blinker {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media (max-width: 767px) {
  .container {
    padding-left: 25px;
    padding-right: 25px; } }
.svg-title {
  opacity: 0;
  position: relative;
  margin-bottom: 25px;
  /*&:before {
      content: '';
      position: absolute;
      width: 0;
      height: 5px;
      background: #48F2E3;
      left: 0;
      bottom: -11px;
      transition: width .4s ease;
  }*/ }
  .svg-title path {
    transition: fill .4s ease; }
  .svg-title.active {
    opacity: 1; }
  .svg-title.fill path {
    fill: #48F2E3; }
  .svg-title.fill:before {
    width: 60px; }
  @media (max-width: 767px) {
    .svg-title svg {
      width: 300px; } }

/*# sourceMappingURL=style.css.map */
